/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	body {
		font-size: 14px;
	}
	.header {
		font-size: 12px;
	}
	.logo img {
		width: 60px;
	} 
	.logo-descr {
		font-size: 10px;
		margin-left: 18px;
		max-width: 181px;
	} 
	.menu { 
		margin-left: 25px;
	}
	.btn-eye, .btn-about {
		font-size: 11px;
		max-width: 210px;
	}
	.phone-main, .link-header {
		font-size: 14px;
	}
	.social-list a {
		width: 36px;
		height: 36px;
		padding: 7px;
	}
	.header-top {
		padding: 8px 0;
	}
	.btn-about img {
		margin: 10px;
		max-width: 22px;
	}
	.title-big {
		font-size: 30px;
	}
	.item-billbord__content {
		top: 90px;
		max-width: 620px;
	}
	.item-billbord__image {
		height: 480px;
	}
	.arrows-billbord {
		bottom: 45px;
	}
	.item-billbord .container::after {
		width: 1175px;
		left: -280px;
	}
	.title-section {
		font-size: 26px;
	}
	.btn-block {
		font-size: 12px;
	}
	.item-article__image {
		height: 150px;
		margin-bottom: 15px;
	}
	.item-article {
		padding-bottom: 20px;
		margin-bottom: 25px;
	}
	.row {
		margin: 0 -10px;
	}
	.row > div {
		padding: 0 10px;
	}
	.item-about__title {
		font-size: 32px;
	}
	.about-block .title-section {
		padding-bottom: 0;
	}
	.item-about {
		padding: 15px 24px;
		padding-bottom: 25px;
	}
	.about-block {
		padding: 34px 30px;
	}
	.unit-about__icon img {
		max-width: 90px;
	}
	.about-block__bottom {
		padding-top: 42px;
	}
	.btn-main {
		font-size: 14px;
		height: 60px;
	}
	.unit-about .btn-main {
		min-width: 230px;
		padding: 0 20px;
	}
	.about .head-section {
		margin-bottom: 10px;
		margin-top: -7px;
	}
	.about {
		padding-top: 46px;
	}
	.about-block .title-section {
		max-width: 764px;
	}
	.item-article[data-video-id] .item-article__image::before {
		width: 40px;
		height: 40px;
	}
	.item-event__title {
		font-size: 20px;
		min-height: 68px;
	}
	.item-event {
		padding: 22px 20px;
		padding-bottom: 30px;
	}
	.row_events {
		margin: 0 -14px;
	}
	.row_events > div {
		padding: 0 14px;
	}
	.row_events > div {
		margin-bottom: 26px;
	}
	.item-event_big {
		padding: 28px;
		min-height: calc(100% - 26px);
	}
	.item-event__date {
		font-size: 15px;
		padding: 3px 10px;
		margin-bottom: 14px;
		border-radius: 8px;
	}
	.item-event_big .item-event__date {
		font-size: 24px;
	}
	.item-event_big .item-event__title {
		font-size: 24px;
		margin-bottom: 25px;
	}
	.item-event_big, .item-event__image, .item-event__image img, .item-event__image::before {
		border-radius: 15px 98px 15px 15px;
	}
	.news-block {
		padding: 20px 35px;
		padding-bottom: 15px;
	}
	.item-news__image {
		height: 165px;
	}
	.item-news__content {
		padding: 14px;
		padding-bottom: 15px;
	}
	.item-news__date {
		font-size: 12px;
	}
	.item-news {
		font-size: 13px;
	}
	.row_news > div {
		margin-bottom: 20px;
	}
	.head-section {
		margin-bottom: 18px;
	}
	.partners {
		padding-top: 35px;
	}
	.item-partner {
		height: 145px;
	}
	.row_partners > div {
		margin-bottom: 23px;
	}
	.partners .title-section {
		padding-bottom: 20px;
	}
	.footer {
		font-size: 13px;
	}
	.footer__nav {
		padding-left: 50px;
	}
	.icon-main {
		width: 36px;
		height: 36px;
		padding: 8px;
	}
	.btn_top {
		width: 36px;
		height: 36px;
		font-size: 16px;
	}
	.footer .logo-wrap {
		margin-bottom: 23px;
	}
	.footer-bottom {
		margin-top: 28px;
	}
	.wrapper {
		padding-top: 127px;
	}
	.content-page h1 {
		font-size: 27px;
	}
	.page-about {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	.content-page p {
		margin-bottom: 15px;
	}
	.content-page h2 {
		font-size: 18px;
		margin-bottom: 22px;
	}
	.title-block {
		font-size: 19px;
	}
	.item-review {
		padding: 32px 30px;
	}
	.slider-gallery .slick-slide {
		padding: 0 10px;
	}
	.slider-gallery {
		margin: 0 -10px;
		margin-top: 20px;
	}
	.slider-gallery__item {
		height: 245px;
	}
	.text-block {
		padding: 30px;
	}
	.item-team__image {
		height: 290px;
	}
	.item-team__name {
		font-size: 17px;
		margin-bottom: 5px;
	}
	.item-team__content {
		height: 123px;
		padding: 15px 20px;
	}
	.item-team {
		height: 415px;
	}
	.item-team__bottom {
		font-size: 13px;
	}
	.row_team > div {
		margin-bottom: 20px;
	}
	.tab-container {
		padding-top: 34px;
	}
	.page-team .title-section {
		padding-bottom: 20px;
	}
	.page-team {
		padding-top: 32px;
		padding-bottom: 15px;
	}
	.head-subdivision .title-block {
		max-width: 306px;
	}
	.row.head-subdivision {
		margin-top: 16px;
		margin-bottom: 21px;
	}
	.info-subdivision {
		padding: 20px;
		line-height: 136%;
	}
	.contacts-subdivision {
		padding: 30px 30px;
	}
	.page-subdivisions {
		padding-top: 38px;
	}
	.row_event .col-lg-4.col-md-6 {
		margin-bottom: 26px;
	}
	.prev.page-numbers, .next.page-numbers {
		width: 46px;
		height: 46px;
		font-size: 16px;
	}
	.pager {
		height: 46px;
	}
	.page-events {
		padding-bottom: 38px;
	}
	.item-question {
		margin-right: -10px;
	}
	.item-question__head {
    padding: 17px;
    padding-left: 23px;
    font-size: 16px;
}
.item-question__content {
    padding: 20px 23px;
    padding-top: 17px;
    padding-right: 0;
    margin-right: 95px;
    }
    .page-questions .block-form {
    margin-left: 30px;
}
.block-form {
    padding: 25px 30px;
    padding-bottom: 30px;
    }
    .block-form .btn-main {
    	margin-top: 4px;
    }
    .page-questions {
    	padding-bottom: 33px;
    }
    .item-question__head i {
    font-size: 13px;
    margin-left: 45px;
    width: 27px;
    height: 27px;
    border-radius: 4px;
}
.item-question_dropdown .item-question__head {
    font-size: 14px;
}
.item-question_dropdown .item-question__head {
	padding-left: 20px;
}
.item-question_dropdown .item-question__content {
    padding: 20px 26px;
    padding-right: 16px;
    font-size: 13px;
    }
    .item-question_dropdown .item-question__content::before {
    	left: 25px;
    	right: 25px;
    }
    .item-question_dropdown .item-question__content::after {
    	left: 25px;
    }
    .item-question_dropdown .list-docs {
    margin-top: 11px;
}
.item-doc {
	font-size: 14px;
    }
    .page-admission p, .page-admission ul {
    margin-bottom: 15px;
}
.info-admission {
    font-size: 12px;
    padding: 20px 26px;
    padding-right: 25px;
}
.row_admission {
	margin-top: 30px;
}
.row_admission > div {
	margin-bottom: 30px;
}
.text-admission {
    padding: 21px 19px;
    padding-right: 12px;
    }
    .item-doc_main .item-doc__icon {
    width: 40px;
    height: 40px;
}
.item-doc_main .item-doc__icon img {
    width: 25px;
}
.title-page {
    font-size: 23px;
}
.page-schedule .item-doc {
    padding: 30px 15px;
    padding-right: 44px;
    font-size: 17px;
}
.page-schedule .title-section {
    padding-bottom: 29px;
    max-width: 549px;
}
.page-schedule {
    min-height: 470px;
}
.row_docs > div {
	margin-bottom: 12px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.phone-main, 
	.link-header,
	body {
		font-size: 12px;
	}
	.header {
		font-size: 10px;
	}
	.logo img {
		width: 47px;
	}
	.logo-descr {
		font-size: 8px;
		margin-left: 11px;
		max-width: 145px;
	}
	.menu {
		margin-left: 10px;
	}
	.title-big {
		font-size: 25px;
	}
	.item-billbord__content {
		top: 65px;
		max-width: 510px;
	}
	.item-billbord__image {
		height: 395px;
	}
	.arrows-billbord {
		bottom: 25px;
	}
	.item-billbord .container::after {
		width: 960px;
		left: -235px;
	}
	.title-section {
		font-size: 20px;
	}
	.btn-block {
		font-size: 10px;
	}
	.about-block {
		padding: 23px 20px;
	}
	.item-about__title {
		font-size: 25px;
		margin-bottom: 12px;
	}
	.item-about {
		padding: 10px 15px;
		padding-bottom: 20px;
	}
	.item-article__image {
		height: 125px;
		margin-bottom: 12px;
	}
	.btn-main {
		font-size: 12px;
		height: 52px;
	}
	.unit-about__icon img {
		max-width: 62px;
	}
	.unit-about__icon {
		margin-right: 7px;
	}
	.unit-about .btn-main {
		min-width: 190px;
	}
	.item-article {
		padding-bottom: 14px;
		margin-bottom: 15px;
	}
	.item-event_big .item-event__title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.item-event__title {
		font-size: 17px;
		min-height: 57px;
		margin-bottom: 15px;
	}
	.row {
		margin: 0 -7px;
	}
	.row > div {
		padding: 0 7px;
	}
	.row_events > div {
		margin-bottom: 15px;
	}
	.item-event_big .item-event__date {
		font-size: 19px;
	}
	.item-event__date {
		font-size: 13px;
	}
	.item-event_big {
		padding: 20px;
		min-height: calc(100% - 15px);
	}
	.item-event_big, .item-event__image, .item-event__image img, .item-event__image::before {
		border-radius: 15px 60px 15px 15px;
	}
	.item-partner {
		height: 120px;
	}
	.footer {
		font-size: 12px;
	}
	.wrapper {
		padding-top: 114px;
	}
	.text-block {
		padding: 25px;
	}
	.slider-gallery__item {
		height: 205px;
	}
	.content-page h2 {
		font-size: 17px;
		margin-bottom: 17px;
	}
	.item-review__head {
		margin-bottom: 18px;
	}
	.tabs a {
		height: 41px;
		padding: 0 15px;
		margin-right: 12px;
	}
	.tab-container {
		padding-top: 27px;
	}
	.page-team {
		padding-top: 27px;
	}
	.item-team__image {
		height: 240px;
	}
	.item-team__name {
		font-size: 16px;
	}
	.item-team__content {
		padding: 15px;
		height: 107px;
	}
	.item-team {
		height: 350px;
	}
	.page-subdivisions .title-section {
		padding-bottom: 25px;
	}
	.title-block {
		font-size: 18px;
	}
	.row_event .col-lg-4.col-md-6 {
		margin-bottom: 15px;
	}
	.pager {
		margin-top: 10px;
	}
	.page-questions .block-form {
    margin-left: 20px;
}
.block-form {
	padding: 25px 20px;
}
.title-page {
    font-size: 20px;
}
.page-schedule .item-doc {
    padding: 20px 15px;
    padding-right: 20px;
    font-size: 15px;
}
.page-schedule .title-section {
    padding-bottom: 23px;
    max-width: 490px;
}
.page-schedule {
    min-height: 415px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrapper .menu,
	.header-top {
		display: none;
	}
	.phone-main, .link-header, body {
		font-size: 14px;
	}
	.header {
		font-size: 13px;
	}
	.row_about > div {
		margin-top: 15px;
	}
	.title-big {
		font-size: 22px;
	}
	.item-billbord__content {
		top: 55px;
		max-width: 390px;
	}
	.item-billbord__image {
		height: 355px;
		margin-right: -120px;
		margin-left: 0;
	}
	.slick-arrow {
		width: 36px;
		height: 36px;
		font-size: 13px;
	}
	.item-billbord .container::after {
		width: 861px;
		left: -282px;
	}
	.about {
		padding-top: 30px;
	}
	.about-block .title-section {
		padding-bottom: 8px;
	}
	.item-about {
		padding: 14px 23px;
		padding-bottom: 20px;
	}
	.item-article__image {
		height: 300px;
	}
	.about .head-section {
		margin-top: 15px;
		margin-bottom: 18px;
	}
	.item-event_big {
		min-height: 400px;
		margin-bottom: 20px;
	}
	.footer__nav {
		padding: 0;
	}
	.footer .btn-eye {
		margin-bottom: 20px;
	}
	.btn-eye, .btn-about {
		font-size: 13px;
		max-width: 240px;
	}
	.footer {
		padding-top: 25px;
		font-size: 13px;
	}
	.footer .logo-wrap {
		margin-bottom: 15px;
	}
	.logo-descr {
		font-size: 9px;
		margin-left: 13px;
		max-width: 162px;
	}
	.logo img {
		width: 59px;
	}
	.footer-bottom {
		margin-top: 25px;
		text-align: center;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.wrapper {
		padding-top: 67px;
	}
	.sandwich {
		margin-left: 20px;
		display: flex;
	}
	.btn-eye_mobile {
		display: block;
	}
	.header .logo-wrap {
		margin-right: auto;
	}
	.btn-eye_mobile .icon-main {
		margin: 0;
	}
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.link-header,
	.menu a {
		margin: 0;
		padding: 10px;
		display: block;
		position: relative;
		border-bottom: 1px solid #2B2323;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
	}
	.menu-mobile .btn-eye, 
	.menu-mobile .btn-about {
		margin-top: 20px;
	}
	.menu-mobile .header__contacts {
		margin: 20px 0;
	}
	.phone-mobile {
		width: 36px;
		height: 36px;
		font-size: 14px;
		color: #593336;
		border-radius: 50%;
		background-color: #FCF4E1;
		transition: all 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.text-block {
		margin-bottom: 20px;
	}
	.content-page .row {
		margin-bottom: 0;
	}
	.content-page img {
		margin-bottom: 20px;
	}
	.content-page .row > div > br {
		display: none;
	}
	.item-review {
		margin-bottom: 25px;
		min-height: initial;
	}
	.page-about {
		padding-top: 28px;
	}
	.content-page h1 {
		font-size: 24px;
	}
	.item-team {
		font-size: 13px;
	}
	.tabs a {
		line-height: 120%;
	}
	.row_team > div {
		margin-bottom: 14px;
	}
	.head-subdivision .title-block {
		max-width: 100%;
		margin-top: 15px;
	}
	.row.head-subdivision {
		margin-top: 0;
		margin-bottom: 14px;
	}
	.top-subdivision > div:first-child {
		margin-bottom: 20px;
	}
	.info-subdivision {
		line-height: 150%;
		margin-top: 20px;
	}
	.list-links li {
		margin-bottom: 15px;
	}
	.contacts-subdivision .list-links {
		margin-top: 20px;
	}
	.unit-subdivision {
		margin-bottom: 25px;
	}
	.item-question {
		margin-right: 0;
	}
	.page-questions .block-form {
		margin-left: 0;
		margin-top: 20px;
	}
	.block-form {
		padding: 30px 30px;
	}
	.page-news .pager {
		margin-top: 8px;
	}
	.page-news {
		padding-bottom: 35px;
	}
	.item-question_dropdown {
		margin-bottom: 14px;
	}
	.page-information {
		padding-bottom: 30px;
	}
	.page-admission .title-section {
    padding-bottom: 14px;
}
.info-admission {
    font-size: 13px;
    padding: 22px 26px;
    margin-bottom: 20px;
    }
    .row_admission > div {
    margin-bottom: 23px;
}
.text-admission {
	padding: 25px;
	min-height: initial;
}
.page-admission .title-page {
    padding-top: 0;
    }
    .page-admission {
    	padding-bottom: 35px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.about-block__bottom {
		padding-top: 15px;
		display: block;
	}
	.unit-about {
		margin-top: 12px;
	}
	.btn-main {
		font-size: 14px;
		height: 55px;
	}
	.unit-about .btn-main {
		min-width: 303px;
	}
	.item-article__image {
		height: 235px;
	}
	.row_partners > div {
		margin-bottom: 18px;
	}
	.partners {
		padding-top: 28px;
	}
	.title-big {
		font-size: 17px;
	}
	.item-billbord__content {
		max-width: 275px;
	}
	.item-billbord .container::after {
		left: -433px;
	}
	.item-billbord__image {
		margin-right: -43px;
	}
	.title-section {
		font-size: 19px;
	}
	.btn-block {
		font-size: 11px;
	}
	.item-news {
		font-size: 14px;
	}
	.item-event_big .item-event__date {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.item-event_big .item-event__text {
		-webkit-line-clamp: 8;
	}
	.text-columns {
		columns: initial;
	}
	.slider-gallery {
		padding-bottom: 30px;
	}
	.slider-gallery__item img,
	.slider-gallery__item {
		border-radius: 10px;
	}
	.slider-gallery .slick-slide {
		padding: 0 5px;
	}
	.slider-gallery {
		margin: 0 -5px;
		margin-top: 20px;
	}
	.slider-gallery__item {
		height: 150px;
	}
	.page-about {
		padding-bottom: 35px;
	}
	.item-team__bottom {
		font-size: 12px;
	}
	.tabs {
		padding-bottom: 15px;
		margin-right: -15px;
		overflow: auto;
		white-space: nowrap;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: #593336;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #cbc0a6;
	}
	.page-subdivisions {
		padding-top: 27px;
	}
	.page-numbers {
    margin: 0 21px
}
.item-question__head i {
    margin-left: 20px;
    }
    .item-question__content {
    padding: 15px 15px;
    padding-top: 10px;
    padding-right: 0;
    margin-right: 40px;
}
.item-question__head {
    padding: 15px;
    padding-left: 15px;
    font-size: 15px;
}
.page-questions {
	padding-bottom: 40px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 15px;
	}
	.item-billbord__content {
		max-width: 240px;
	}
	.item-billbord .container::after {
		left: -472px;
	}
	.item-billbord__image {
		margin-right: -25px;
		margin-left: -15px;
		height: 325px;
	}
	.item-billbord__image img {
		object-position: 68%;
	}
	.about-block {
		padding: 20px 15px;
	}
	.unit-about .btn-main {
		font-size: 12px;
		padding: 0 7px;
		min-width: inherit;
		flex: 1;
	}
	.item-article__image {
		height: 190px;
	}
	.item-event_big {
		min-height: 348px;
	}
	.news-block {
		padding: 20px 15px;
	}
	.item-partner {
		height: 95px;
	}
	.row_partners > div {
		margin-bottom: 14px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.about-block .title-section {
		font-size: 17px;
	}
	.content-page h1 {
		font-size: 22px;
	}
	.item-review {
		padding: 25px 20px;
	}
	.slider-gallery__item {
		height: 105px;
	}
	.item-team__image {
		height: 200px;
	}
	.item-team__name {
		font-size: 13px;
	}
	.item-team__content {
		padding: 10px;
		height: 95px;
	}
	.row_team {
		margin: 0 -4px;
	}
	.row_team > div {
		padding: 0 4px;
		margin-bottom: 10px;
	}
	.item-team {
		font-size: 11px;
		line-height: 140%;
		height: 300px;
	}
	.item-team__name br {
		display: none;
	}
	.contacts-subdivision {
		padding: 20px;
	}
	.page-information .title-section,
	.page-news .title-section,
	.page-questions .title-section {
    padding-bottom: 19px;
}
.page-schedule,
.page-admission,
.page-information,
.page-news,
.page-questions, 
.page-events {
	padding-top: 25px;
}
.block-form {
	padding: 25px 20px;
}
.item-doc__icon {
    width: 34px;
    height: 34px;
    margin-right: 13px;
    }
    .item-doc__icon img {
    	max-width: 20px;
    }
    .item-doc {
    font-size: 13px;
}
.item-question_dropdown .item-question__content {
	padding-left: 20px;
}
.item-question_dropdown .item-question__content::before {
    left: 20px;
    right: 20px;
}
.item-question_dropdown .item-question__content::after {
	left: 20px;
}
.page-information {
	padding-bottom: 20px;
}
.text-admission,
.info-admission {
	padding: 20px;
}
.page-admission {
	padding-bottom: 25px;
}
.title-page {
    font-size: 18px;
}
.page-schedule .title-page {
    padding-bottom: 18px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1470px;
	}
}
@media (min-width: 1922px) {
	.item-billbord__image {
		height: 680px;
		margin-right: -500px;
		margin-left: 200px;
	}
	.item-billbord .container::after {
		width: 1652px;
		left: -510px;
	}
}